{% extends "base.html" %}
{%block content %}
<style>
.form-check {
  background-color: #f0f8ff; 
  border-radius: 5px; 
  border: 2px solid #007bff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  font-weight: strong;
  padding: 20px; 
  padding-left: 40px;
}

</style>
<div class="container my-5">
        <h2 class="mb-3">Clothing Store Order Form</h2>
        <form action="{{url_for('order.submit_order')}}" method="POST">
             <input type="hidden" id="addressFromHistory" name="address_from_history" value="false">

            {% if saved_address_list %}
            <div class="mb-3" id="historyAddressForm" {% if not saved_address_list %} style="display: none;" {% endif %}>

                <label for="addressSelect" class="form-label">Choose a saved address:</label>
                <select name="saved_address_select" class="form-select" id="addressSelect">
                    {% for address in saved_address_list %}
                    <option value="{{address.id}}">{{address.street}}, {{address.city}}, {{address.country}}</option>
                    {% endfor %}
                </select>
                <br>
                <a class="btn btn-secondary btn-small  " onclick="refreshAddressForm()">Add new address</a>
            </div>
            {% endif %}
            
            <div class="mb-3" id="newAddressesForm">
                <label class="form-label">Add a new address:</label>
                <div class="input-group mb-3">
                    <input name="street" type="text" class="form-control" placeholder="Street">
                    <input name="city" type="text" class="form-control" placeholder="City">
                    <input name="country" type="text" class="form-control" placeholder="Country">
                    <input name="zip_code" type="text" class="form-control" placeholder="Zip Code">
                </div>
                {% if saved_address_list %}
                <a class="btn btn-secondary" onclick="refreshAddressForm()">Use address from history</a>
                {% endif %}
            </div>

            <div class="mb-3">
                <label for="deliveryMethod" class="form-label">Delivery Method:</label>
                <select name="delivery_method_id" class="form-select" id="deliveryMethod">
                    {% for delivery in delivery_methods %}
                        <option value="{{delivery.id}}">{{delivery.name}} ${{delivery.price}} </option>
                    {% endfor %}
                </select>
            </div>
            <button id="submitOrderBtn" type="submit" class="btn btn-primary">Submit Order</button>
        </form>
    </div>

<script>

var fromHistory = false;

function refreshAddressForm() {
    if (fromHistory) {
        document.getElementById('newAddressesForm').style.display = 'block';
        document.getElementById('historyAddressForm').style.display = 'none';
        fromHistory = false;
        var hiddenField = document.getElementById("addressFromHistory").value = fromHistory;
    } else {
        document.getElementById('newAddressesForm').style.display = 'none';
        document.getElementById('historyAddressForm').style.display = 'block';
        fromHistory = true;
        var hiddenField = document.getElementById("addressFromHistory").value = fromHistory;
    }
}


function setFromHistoryTrue() {
    fromHistory = true;
}
function setFromHistoryFalse() {
    fromHistory = false;
}
</script>

{% if saved_address_list %} <script> refreshAddressForm() </script> {% endif %}

{% endblock %}